.cs_site_header.cs_style1.cs_active_sticky {
  background-color: #fff;
}
.cs_site_header.cs_style1.cs_white_color.cs_active_sticky {
  background-color: #274760;
}
.cs_accent_bg .cs_social_links_wrap h2,
.cs_site_header.cs_style1.cs_white_color.cs_active_sticky .cs_toolbox {
  color: #fff;
}
.cs_contact_widget i {
  height: 20px;
  width: 20px;
  margin-top: 2px;
  color: #fff;
  padding: 4px;
}
.cs_video_open {
  cursor: pointer;
}
.cs_hero.cs_style_1 {
  .cs_text_btn_2,
  .cs_hero_title,
  .cs_hero_subtitle {
    position: relative;
    z-index: 1;
  }

  .cs_hero_text {
    position: initial;
    z-index: initial;
  }
}
.cs_accordian_body_wrap {
  overflow: hidden;
  transition: all 0.4s ease;
}
.cs_tabs.cs_style1 .cs_tab_links .cs_tab_link_in {
  cursor: pointer;
}
.cs_rating {
  i {
    display: flex;
  }
}
.cs_shape_wrap .cs_shape_2 {
  top: -3%;
}
.cs_cs_slider_navigation_1 {
  .cs_slider_next,
  .cs_slider_prev {
    transition: all 0.4s ease;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    height: 60px;
    transform: translateY(-50%);
    background-color: #fff;
    width: 70px;
    box-shadow: 0px 4px 21px 1px rgba(48, 123, 196, 0.1);
    position: absolute;
    top: 50%;
    display: flex !important;
    z-index: 1;
    @media (min-width: 991px) {
      opacity: 0;
    }
  }
  .cs_slider_next {
    right: -35px;
  }
  .cs_slider_prev {
    left: -35px;
  }
  &:hover {
    .cs_slider_next,
    .cs_slider_prev {
      opacity: 1;
    }
  }
}
.cs_cs_slider_navigation_2 {
  .cs_slider_next,
  .cs_slider_prev {
    height: 40px;
    width: 40px;
    border: 2px solid $accent;
    border-radius: 50%;
    padding: 8px;
    transition: all 0.4s ease;
    cursor: pointer;
    position: absolute;
    display: flex !important;
    bottom: 0;
  }
  .cs_slider_next {
    right: 0;
  }
  .cs_slider_prev {
    right: 52px;
  }
}
.cs_cs_slider_navigation_3 {
  .cs_slider_next,
  .cs_slider_prev {
    width: 90px;
    height: 70px;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    transition: all 0.4s ease;
    cursor: pointer;
    display: flex !important;
    position: absolute;
    top: -213px;
    @media (max-width: 1700px) {
      width: 80px;
      height: 60px;
      top: -188px;
    }
    @media (max-width: 991px) {
      display: none !important;
    }
    img {
      transition: inherit;
    }
    &:hover {
      background-color: $accent;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
  .cs_slider_next {
    right: 0;
  }
  .cs_slider_prev {
    right: 115px;
    @media (max-width: 1700px) {
      right: 100px;
    }
  }
  .slick-dots {
    display: none !important;
    @media (max-width: 991px) {
      display: flex !important;
    }
  }
}
.cs_related_doctor {
  padding-bottom: 90px;
  @media (max-width: 400px) {
    padding-bottom: 75px;
  }
  .slick-dots {
    bottom: 15px;
  }
}
.cs_gallery_grid_1 {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 991px) {
    grid-template-columns: repeat(2, 1fr);
    .cs_grid_item {
      &:nth-child(2) {
        display: none;
      }
    }
  }
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .cs_section_heading.cs_style_1 {
    min-height: 263px;
    @media (max-width: 1700px) {
      min-height: 166px;
    }
    @media (max-width: 991px) {
      min-height: initial;
    }
  }
  .cs_grid_item {
    &:first-child {
      grid-column: span 2;
    }
    @media (min-width: 992px) {
      &:nth-child(6) {
        grid-column: span 2;
      }
    }

    &:nth-child(5) {
      .cs_portfolio.cs_style_1 {
        height: 767px;
        margin-top: -338px;
        @media (max-width: 1700px) {
          height: 590px;
          margin-top: -240px;
        }
        @media (max-width: 991px) {
          margin-top: 0;
          height: 400px;
        }
      }
      @media (max-width: 991px) {
        grid-column: span 2;
      }
      @media (max-width: 767px) {
        grid-column: initial;
      }
    }
  }
  @media (max-width: 1700px) {
    .cs_portfolio.cs_style_1 {
      height: 350px;
    }
  }
}
.cs_gallery_grid_2 {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 991px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px 0px;
  }

  .cs_grid_item {
    @media (min-width: 768px) {
      &:first-child {
        grid-column: span 2;
      }
    }

    @media (min-width: 992px) {
      &:nth-child(7) {
        grid-column: span 2;
      }
    }
  }
  @media (max-width: 1700px) {
    .cs_portfolio.cs_style_1 {
      height: 350px;
    }
  }
  @media (max-width: 420px) {
    .cs_portfolio.cs_style_1 {
      height: 300px;
    }
  }
}
.cs_portfolio.cs_style_1 .cs_portfolio_img > div > img {
  cursor: zoom-in;
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}
.cs_team_grid {
  display: grid;
  grid-gap: 50px 25px;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 991px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 25px;
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px 25px;
  }
  &.cs_list_view_wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  &.cs_grid_view_wrap {
    .cs_team.cs_style_1.cs_type_2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
.cs_isotop_filter.cs_style1 {
  text-transform: capitalize;
}
.cs_pagination_box {
  .cs_pagination_item,
  .cs_pagination_arrow {
    border: none;
    &:hover {
      color: $accent;
    }
  }
  .cs_pagination_arrow {
    background-color: transparent;
  }
}
.form-check .form-check-input {
  border-color: #636363;
}
.cs_related_doctor .slick-dots {
  display: flex !important;
}
.react-datepicker-wrapper {
  display: block;
}
.cs_blog_grid_1 {
  display: grid;
  grid-gap: 20px 130px;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 1700px) {
    grid-gap: 20px 80px;
  }
  @media (max-width: 1400px) {
    grid-gap: 20px;
  }
  @media (max-width: 991px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (min-width: 992px) {
    > * {
      grid-column: span 2;
      &:first-child {
        grid-row: span 3;
      }
    }
  }
}
.cs_error {
  padding: 80px 0;
  min-height: 100vh;
}
.cs_nav .cs_nav_list .cs_munu_dropdown_toggle.active + ul {
  display: block;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.game-title {
  text-align: center;
}

.video-embed {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 55vh;
  margin: 0 1em 0 1em;

  .computer-frame {
    position: relative;
    display: inline-block;
    width: 40%;
    max-width: 100%;
    text-align: center;
    @media (max-width: 1700px) {
      width: 55%;
    }
    @media (max-width: 1400px) {
      width: 55%;
    }
    @media (max-width: 1199px) {
      width: 55%;
    }
    @media (max-width: 991px) {
      width: 65%;
    }

    @media (max-width: 767px) {
      width: 70%;
    }

    @media (max-width: 550px) {
      width: 85%;
    }

    .frame-image {
      width: 100%;
      height: auto;
      display: block;
    }

    .iframe-container {
      position: absolute;
      top: 13%;
      left: 3%;
      width: 94%;
      height: 53%;
      overflow: hidden;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.comment-section h3 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #274760;
  margin-bottom: 20px;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
}

.edit-area,
form textarea,
form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #d0e1ff;
  border-radius: 8px;
  font-size: 14px;
  background-color: #f9fcff;
  transition: border-color 0.3s;
}

.edit-area,
form textarea:focus,
form input:focus {
  outline: none;
  border-color: #007bff;
}

form button {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: #307bc4;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.show-cmt-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.show-cmt-button {
  margin-left: auto;
  padding: 10px 20px;
  background-color: #307bc4;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.show-cmt-button:hover {
  background-color: #245a8f;
}

form button:hover {
  background-color: #0056b3;
}

/* Comment List */
.comments-list {
  margin-top: 20px;
}

.comment {
  background-color: #f9fcff;
  border: 1px solid #d0e1ff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comment-header .avatar {
  width: 40px;
  height: 40px;
  background-color: #d0e1ff;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.comment-header .name {
  font-weight: bold;
  color: #0955a7;
  flex-grow: 1;
}

.comment-body {
  margin-left: 16px;
  margin-right: 16px;
  width: 100%;
}

.comment-content {
  line-height: 1.6;
  color: #274760;
}

.comment-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.comment-actions button {
  // margin-right: 10px;
  border: none;
  background-color: #f9fcff;
  color: grey;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.comment-actions button:hover {
  color: #0056b3;
}

/* Replies */
.replies {
  margin-top: 15px;
  padding-left: 20px;
  border-left: 2px solid #d0e1ff;
}

.reply {
  background-color: #f9fcff;
  border: 1px solid #d0e1ff;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.reply-body {
  margin-left: 14px;
  margin-right: 14px;
  width: 100%;
}

.reply-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.reply-header .avatar {
  width: 32px;
  height: 32px;
  background-color: #d0e1ff;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.reply-header .name {
  font-weight: bold;
  color: #0955a7;
  flex-grow: 1;
  font-size: 14px;
}

.reply-content {
  line-height: 1.6;
  color: #274760;
  font-size: 14px;
}

.reply-actions button {
  // margin-right: 10px;
  border: none;
  background-color: #f9fcff;
  color: grey;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reply-actions button:hover {
  color: #0056b3;
}

.reply-form {
  margin-top: 10px;
  margin-bottom: 0 !important;
}

.reply-form textarea,
.reply-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d0e1ff;
  border-radius: 6px;
}

.reply-form button {
  align-self: flex-end;
  padding: 8px 16px;
  background-color: #307bc4;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reply-form button:hover {
  background-color: #0056b3;
}

.show-reply {
  margin-left: auto;
}

.note-edit {
  font-style: italic;
  font-size: 13px !important;
  margin-left: auto;
}
